html
    head
        title Coterie
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        link(rel='icon', type='image/png', href='http://s9.postimg.org/a4rwg5o5r/coterie_online.png')
        script(src='https://use.fontawesome.com/99d22de933.js')


    body
        block content
