extends _app_layout

block content
    h1 Hello Dashboard
    p This page could include:
    ul
        li A welcome message
        li A coming up event and link to /events
        li Communities they are a part of with a button to /communities
        li A logout button
