extends _app_layout

block content
    h1 Donate
    form(action="/events/create/success" method="POST")
        div
            label(for='community_name') Name
            input(id='community_name' type='text' placeholder="Community" name='community_name' required)
        div
            button(type='submit') Donate
