extends _home_layout

block content
    section(id="main")
        h1 Coterie Online
        h2 Join communities and attend events near you
        a(href="/signup" class="button") Sign up for Coterie Online
        p or
        a(href="/login" class="button") Login with an existing account
