extends _home_layout

block content
    header(id="landing")
        div.cell
            // replace with logo
            img(src="/img/coterie-online-landscape-light.png")
            h2 Join communities who share your interests, and attend events near you.
            a(href="/signup" class="button") Sign up
            | &nbsp;
            a(href="/auth/login" class="button") Login 
