extends _home_layout

block content
    section(id="main")
        h1 Sign up for Coterie Online
        form(action="/signup/success" method="POST")
            div
                label(for='first_name') First Name
                input(id='first_name' type='text' name='first_name' required)
            div
                label(for='last_name') Last Name
                input(id='last_name' type='text' name='last_name' required)
            div
                label(for='email') Email
                input(id='email' type='email' name='email' required)
            div
                label(for='mobile') Mobile
                input(id='mobile' type='tel' name='mobile' required)
            div
                label(for='bio') Bio
                textarea(id='bio' name='bio' placeholder='Add a small summary about yourself!')
            div
                button(type='submit') Sign Up
