//! Picnic CSS http://www.picnicss.com/

// Imports the base variable styles
@import 'bower_components/picnic/src/themes/squared/theme';

@import 'bower_components/picnic/src/vendor/compass-breakpoint/stylesheets/breakpoint';

// Normalize.css (external library)
@import 'bower_components/picnic/src/plugins/normalize/plugin';

// Generic styles for things like <body>, <a> and others
// It also overwrites normalize.css a bit
@import 'bower_components/picnic/src/plugins/generic/plugin';
@import 'bower_components/picnic/src/plugins/fontello/plugin';

// Simple elements
@import 'bower_components/picnic/src/plugins/label/plugin';
@import 'bower_components/picnic/src/plugins/button/plugin';

// Forms
@import 'bower_components/picnic/src/plugins/input/plugin';
@import 'bower_components/picnic/src/plugins/select/plugin';
@import 'bower_components/picnic/src/plugins/radio/plugin';
@import 'bower_components/picnic/src/plugins/checkbox/plugin';

// Components
@import 'bower_components/picnic/src/plugins/table/plugin';
@import 'bower_components/picnic/src/plugins/grid/plugin';

// Extra
// @import 'bower_components/picnic/src/plugins/nav/plugin';

@import 'bower_components/picnic/src/plugins/stack/plugin';
@import 'bower_components/picnic/src/plugins/card/plugin';
@import 'bower_components/picnic/src/plugins/modal/plugin';

@import 'bower_components/picnic/src/plugins/dropimage/plugin';
@import 'bower_components/picnic/src/plugins/tabs/plugin';
@import 'bower_components/picnic/src/plugins/tooltip/plugin';

$dark_grey: #333;
$darkest_blue: #141484;
$dark_blue: #1F1C9B;
$medium_blue: #0061EF;
$light_blue: #29ABE2;
$yellow: #D9E021;

body {
  color: $dark-grey;
}

nav {
  height: 100%; /* 100% Full-height */
  width: 250px;  /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: $darkest_blue;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
  }
  a:hover, .offcanvas a:focus{
    color: $yellow;
  }

  &.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

body {
  background-color: #eee;
}

div.jumbo {
  //background-color: #BBB;
  width: 100%;
  padding-bottom: 60px;
  margin-bottom: 40px;
  border-bottom: 2px solid $medium_blue;
}

div.head {
  display: table;
  width: 100%;

  div.left, div.right {
    display: table-cell;
  }

  div.right {
    text-align: right;

    .button {
      margin-top: -10px;
    }
  }
}

article.card {
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: white;

  .button {
    font-size: 14px;
    margin-bottom: 0;
  }

  p {
    padding-left: 0;
    padding-right: 0;
  }
}

div.page {
  display: table;
  border-collapse: separate;
  width: 100%;
  table-layout: fixed;
}

div.card_container {
  display: table-cell;
}

div.aside {
  width: 25%;
}

div.content article.card {
  margin-right: 20px;
  min-height: 100%;
}

div.bar {
  height: 20px;
  width: 100%;
  background-color: #ddd;
  //border: 2px solid $medium_blue;

  div.progress {
    height: 100%;
    background-color: $medium_blue;
    width: 82%;
  }
}

a {
  color: $medium_blue;

  &:hover {
    color: $dark_blue;
  }
}


.button, button {
  background-color: $medium_blue;
  border: 2px solid $medium_blue;


  &:hover {
    box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
    border: 2px solid $medium_blue;
    color: $medium_blue;
    background-color: transparent;
  }
}

@media screen and (max-height: 450px) {
  nav {padding-top: 15px;}
  nav a {font-size: 18px;}
}

#main{
  margin-left: 250px;
}


.fullpager {
  height: 100vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

form {
  div {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.cen {
  text-align: center;
}

fieldset {
  label {
    font-size: 0.8em;
  }
}

section#main {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px;
}

header#landing {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px;
  width: 100%;
  height: 100%;
  background-color: #0A0A35;
  background-position: center;
  background-image: url('/img/bg.jpg');
  color: white;
  text-align: center;
  display: table;

  .cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    width: 100%;
  }


  a.button {
    background-color: $yellow;
    border-color: $yellow; 
    color: #0A0A35;
    font-size: 22px;
  }

  img {
    width: 500px;
    margin-bottom: 50px;
  } 

  h2 {
    font-weight: 400;
  }
}

#map {
  height: 200px;
  width: 100%;
}

