/.idea/
/.vscode/
/node_modules/
/bower_components/
/target/
*.sqlite3
*.db
*.aux
*.dvi
*.lof
*.log
*.toc
*.fdb_latexmk
*.fls
*.lot
*.synctex.gz
*.vscodeLog
*.out
*.key
keys.json
npm-debug*
/app/server/public/*
/docs/0.0 Developer Documentation
