@import 'bower_components/picnic/src/picnic';

.fullpager {
  height: 100vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

form {
  div {
    padding-top: 20px;
    padding-bottom-alt: 20px;
  }
}

.cen {
  text-align: center;
}
