extends ../../_app_layout

block content
    div.head
        div.left
            h1 All Events
        div.right
            // a(href="/events/create" class="button") Create an event
    each event in events
        article.card
            a(href='/events/' + event.attributes.id)
                h1= event.attributes.name
            h3 Hosted by 
              a(href='#') The Dog Society
            p= event.attributes.description
