extends ../../_app_layout

block content
    h1 Events
    //show community managers only
    a(href="/events/create" class="button") Create an event

    h2 Your Upcoming Events
    p A list of the user's events will go here
