html
    head
        title Pugfile
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
    body
        nav
            input.show(id='bmenub' type='checkbox')
            label.burger.psuedo.button(for='bmenub') Menu
            div.menu
                a.psuedo.button(href='#') A Link
                a.psuedo.button(href='/profile') Profile
                a.psuedo.button(href='/logout') Logout
        block content

