
extends ../../_app_layout

block content
    div.head
        div.left
            h1 All Communities
        div.right
            a(href="/communities/create" class="button") Create a community
    each community in communities
        article.card
            a(href='/communities/' + community.attributes.id)
                h1= community.attributes.name
            p!= community.attributes.description
