extends ../../_app_layout

block content
    h1 Create a community
    form(method="POST")
        div
            label(for='community_name') Name
            input(id='community_name' type='text' placeholder="Name of Community" name='community_name' required)
        div
            label(for='community_desc') Community Description
            input(id='community_desc' type='text' name='community_desc' required)
        div
            label(for='community_location') Location
            input(id='community_location' type='text' placeholder="Location of community" name='community_location' required)
        div
            button(type='submit') Create community
